{% extends 'base.html' %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title"> This week's FAVORITES</h5>
      <p class="card-text">This page shows a list of TOP 5 American-born stand-up comedians ranked by Cristina Gradinaru.</p>
      <a href="/favorite5" class="btn btn-primary">TOP 5</a>
    </div>
    <div class="card-footer text-muted">
      Last updated March, 2 2021
    </div>
  </div>

{% endblock content%}